<form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col">
      <input
        [ngClass]="{
          'is-invalid': firstNameControl?.invalid && firstNameControl?.touched,
          'is-valid': firstNameControl?.valid && firstNameControl?.touched,
        }"
        formControlName="firstName"
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
      />
      <app-control-errors [validationErrors]="firstNameControl?.errors" />
    </div>
    <div class="col">
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
      />
      <app-control-errors
        [validationErrors]="formularioRegistro.get('lastName')?.errors"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <pre>{{ formularioRegistro.value | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</form>
